* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main_wrapper {
    display: grid;
    grid-template-rows: 100px 1500px 503px;
    height: 2100px;
    width: 100%;
    grid-template-areas: "hn" "ma" "fo";
}
.headnav {
    grid-area: hn;
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #85affc;
    z-index: 99;
}
.ezhost_logo {
    height: 60px;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
}
header a {
    font-size: 80px;
    color: #fff;
    -webkit-text-stroke: 1px #85affc;
    text-decoration: none;
}
main {
    grid-area: ma;
    background-color: #202020;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
footer {
    grid-area: fo;
    border-top: 3px solid #85affc;
    background-color: #383838;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
footer h1 {
    height: 50px;
}
#section1 {
    width: 100%;
    height: 280px;
}
.button {
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    -webkit-text-stroke: 0.5px #85affc;
}
.article_section_fade {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
.article_section_fade .read_more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 40px 0;
    background-image: linear-gradient(to bottom, transparent, #252525);
    border-radius: 20px;
}
#section2 {
    width: 100%;
    height: 280px;
}
#section3 {
    width: 100%;
    height: 560px;
}
#section4 {
    width: 100%;
    height: 280px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-image: url(/img/host_game_ark.jpg);
    background-size: cover;
}
#section4 h1 {
    font-size: 100px;
}
.main_section {
    border: solid #85affc;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #252525;
}
.main_section h1 {
    margin-bottom: 10px;
    margin-top: 10px;
}
.game_highlight {
    height: 200px;
    width: auto;
}
.text_block {
    display: flex;
    width: 45%;
    height: auto;
    align-items: center;
    flex-direction: column;
}
#top_section{
    display: flex;
    align-items:center;
    width: 100%;
    justify-content: space-evenly;
 }
#bottom_section{
    display: flex;
    align-items:center;
    width: 100%;
    justify-content: space-evenly;
 }
 h3{
    color: rgb(185, 184, 184);
 }
.section_picture {
    display: block;
    width: 45%;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
}
.main_section article {
    margin-bottom: 10px;
    color: #b4b4b4;
    margin-left: 10px;
    margin-right: 10px;
}
.main_section a {
    text-decoration: none;
    color: #9e9e9e;
}
.navlinks {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    position: absolute;
    right: 0;
    top: -90vh;
    background-color: #202020;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.1s;
}
.navlinks li {
    list-style: none;
}
.navlinks a {
    color: #85affc;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}
.nav_active {
    transform: translateY(90vh);
    margin-top: 100px;
    border-bottom: solid #85affc;
}
.nav_icon div {
    background-color: #85affc;
    height: 3px;
    width: 25px;
    margin: 5px;
    border-radius: 10%;
}
.nav_icon {
    margin-right: 50px;
}
.nav_icon:hover {
    cursor: pointer;
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
h1 {
    color: #fff;
}
article section {
    margin-bottom: 10px;
}
#grid_wrapper_service {
    display: grid;
    grid-template-rows: 100px 1500px 503px;
    height: 2103px;
    width: 100%;
    grid-template-areas: "hn" "ma" "fo";
}
.game_preview {
    height: 220px;
    width: 100%;
    border: solid #85affc;
    border-radius: 20px;
    background-color: #b4b4b4;
    background-size: cover;
    text-decoration: none;
    display: flex;
    margin: 10px;
    font-size: 45px;
    color: #fff;
    -webkit-text-stroke: 1px #000;
}
#game01 {
    background-image: url(/img/host_game_ark.jpg);
}
#game02 {
    background-image: url(/img/host_game_minecraft.jpg);
}
#game03 {
    background-image: url(/img/host_teamspeak.jpg);
}
#game04 {
    background-image: url(/img/host_game_terraria.jpg);
}
#game05 {
    background-image: url(/img/host_game_dayz.jpg);
}
#game06 {
    background-image: url(/img/host_game_rust.jpg);
}
.section_h1 {
    -webkit-text-stroke: 2px #000;
}
#grid_wrapper_account {
    display: grid;
    grid-template-rows: 100px 600px 503px;
    height: 1203px;
    width: 100%;
    grid-template-areas: "hn" "ma" "fo";
}
#section_account {
    margin-top: 10px;
    width: 100%;
    height: 580px;
    display: flex;
    justify-content: space-evenly;
    background-color: #202020;
}
#section_account h1 a {
    text-decoration: underline;
    color: #85affc;
}
#footer_wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 450px;
    grid-template-areas: "fh1 fh1" "fo1 fo2";
}
#footer_1 {
    grid-area: fo1;
    padding: 20px;
}
#footer_2 {
    grid-area: fo2;
    padding: 20px;
}
#footer_header {
    grid-area: fh1;
    display: flex;
    justify-content: center;
}
.contact_icon {
    height: 70px;
    width: 80px;
}
.footer_section {
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.blue_line {
    width: 100%;
    height: 3px;
    background-color: #85affc;
    display: block;
}
.footer_title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.block_cluster {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
}
.icon_text_bundle {
    display: flex;
    flex-wrap: wrap;
}
.icon_text {
    color: #fff;
}
.photo_gallery img {
    height: 50px;
    width: 50px;
    margin: 15px;
}
.photo_gallery {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.two_main {
    display: flex;
    flex-direction: column;
}
.game_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
@media (max-width: 500px) {
    .ezhost_logo {
        height: 40px;
    }
}
@media (min-width: 800px) {
    .one_main {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .grid_wrapper_single {
        display: grid;
        grid-template-rows: 100px 1fr 503px;
        height: 100vh;
        width: 100%;
        grid-template-areas: "hn" "ma" "fo";
    }
    #grid_wrapper_service {
        display: grid;
        grid-template-rows: 100px 880px 503px;
        height: 1203px;
        width: 100%;
        grid-template-areas: "hn" "ma" "fo";
    }
    .grid_wrapper_double {
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-rows: 100px 1fr;
        grid-template-areas: "sh1" "sgp";
    }
    .game_preview {
        width: 45%;
        height: 200px;
    }
    .two_main h1 {
        grid-area: sh1;
    }
    .two_main .game_wrapper {
        grid-area: sgp;
    }
    .game_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .grid_wrapper_double {
        display: grid;
        width: 100%;
        height: 600px;
        grid-template-rows: 100px 500px;
        grid-template-areas: "sh1" "sgp";
    }
}
@media (min-width: 1100px) {
    .main_sections {
        grid-template-rows: 100px 800px;
        height: 900px;
        width: 100%;
        grid-template-areas: "ih" "is";
    }
    .main_sections h1 {
        grid-area: ih;
    }
    #index_sections {
        grid-area: is;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #index_sections .main_section {
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 2%;
    }
    #section1 {
        width: 45%;
        height: 350px;
    }
    #section2 {
        width: 45%;
        height: 350px;
    }
    #section3 {
        width: 45%;
        height: 350px;
    }
    #section4 {
        width: 45%;
        height: 350px;
    }
    #main_wrapper {
        display: grid;
        grid-template-rows: 100px 900px 503px;
        height: 1503px;
        width: 100%;
        grid-template-areas: "hn" "ma" "fo";
    }
}
@media (min-width: 1500px) {
    
    #grid_wrapper_service {
        display: grid;
        grid-template-rows: 100px 500px 503px;
        height: 1103px;
        width: 100%;
        grid-template-areas: "hn" "ma" "fo";
    }
    .grid_wrapper_double {
        display: grid;
        width: 100%;
        height: 500px;
        grid-template-rows: 100px 400px;
        grid-template-areas: "sh1" "sgp";
    }
    .two_main h1 {
        grid-area: sh1;
    }
    .two_main .game_preview {
        grid-area: sgp;
    }
    .game_preview {
        width: 30%;
        height: 200px;
    }
    .game_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
}
@media (max-width: 850px) {
    .section_picture {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .text_block {
        width: 100%;
    }
    #top_section{
        display: block;
        align-items:none;
     }
    #bottom_section{
        display: flex;
        flex-direction: column-reverse;
        align-items:none;
    }
}
